.container {
  width: 300px;
  height: 370px;
  margin: 20px;
  border-radius: 10px;
  background-color: aqua;
}

.user-img {
  object-fit: contain;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  padding: 20px;
  
}

.user-info {
  display: flex;
  gap: 10px;
  margin-left: 68px;
  font-weight: 500;
}